<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Prerequisite</th>
      <th>Description</th>
      <th>Category</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cous.each do |cou| %>
      <tr>
        <td><%= cou.name %></td>
        <td><%= cou.prerequisite %></td>
        <td><%= cou.description %></td>
        <td><%= cou.category %></td>
        <td><%= cou.location %></td>
        <td><%= link_to 'Show', cou %></td>
        <td><%= link_to 'Edit', edit_cou_path(cou) %></td>
        <td><%= link_to 'Destroy', cou, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_cou_path %>
