<%= form_with(model: coordin, local: true) do |form| %>
  <% if coordin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coordin.errors.count, "error") %> prohibited this coordin from being saved:</h2>

      <ul>
      <% coordin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :coordin_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :coordin_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :coordin_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
